{% extends "base.j2" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/statistics/main.js') }}"></script>
{% endblock %}

{% block content %}
<canvas id="myChart"></canvas>
{% endblock %}
