<html>
<body>
    <div style="text-align: center; width: 100%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 5em">
        <strong>
            Howerever you got here, this page is not a thing (yet)
            <br>
            Go back to <a href="/">home</a>
        </strong>
    </div>
    <img src="/static/error_img.jpg" alt="I got lost" style="width: 100%">
</body>
</html>