.code-display {
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: .5em;
    width: 50%;
    max-width: 90%;
    max-height: 250px;
    overflow: scroll;
    overflow-wrap: break-word;
    resize: both;
}

.table-enclosure {
    max-width: 100%;
}

#openings_table {
    width: 100%;
}

.no-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/static/images/background_sakura_city.png');
    background-size: cover;
}

#custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 100;
    width: 75%;
    max-width: 1200px;
}

@media (max-width: 768px) {
    #custom-modal {
        width: 90%;
        left: 5%;
        transform: translate(0, -50%);
    }

    #custom-modal .custom-modal-body-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}