{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>This is example page</p>
    {% if session.get('spotify_access_token', 'Empty') == 'Empty': %}
    <p>This is OAuth <a href="{{Spotify_OAuth_url}}">link</a> to auth Spotify</p>
    {% else %}
    <p>You are already authorized to Spotify!</p>
    <p>Bearer token: {{session.get('spotify_access_token')}}</p>
    <p>You can create your playlist <a href="{{Spotify_CreatePlaylist_url}}">here</a></p>
    {% endif %}
{% endblock %}