{% extends 'base.j2' %}

{% block title %} Home {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.13.3/b-2.3.5/b-colvis-2.3.5/b-html5-2.3.5/sr-1.2.1/datatables.min.css"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.3/b-2.3.5/b-colvis-2.3.5/b-html5-2.3.5/sr-1.2.1/datatables.min.js"></script>

<script src="{{ url_for('static', filename='dataTables.rowsGroup.js') }}"></script>

<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}

{% block content %}
    <div id="custom-modal" class="rounded bg-light border border-dark-subtle p-3"></div>
    <h1 class="text-center mb-4">MToS</h1>
    <p class="text-center m-2">MyAnimeList to Spotify</p>
    <div class="content container-lg">
        {% if session.get('mal_oauth', 'Empty') == 'Empty': %}
        <p>This is OAuth <a href="{{MAL_OAuth_url}}">link</a> to auth MAL</p>
        {% else%}
        {% if session.get('spotify_oauth', 'Empty') != 'Empty': %}
        <div class="table-enclosure">
            <table id="openings_table" class="display compact table table-hover table-bordered border-light-subtle"></table>
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
        {% endif %}
        <div>
            <p>You are authorized to MyAnimeList!</p>
            <button id="show-mal-token" class="btn btn-warning">Show MAL</button>
            <div id="mal-token" class="code-display" style="display:none">
                <code>Bearer token: {{session['mal_oauth'].get_Bearer()}}</code>
            </div>
        </div>
        {% endif %}
        {% if session.get('spotify_oauth', 'Empty') == 'Empty': %}
        <p>This is OAuth <a href="{{Spotify_OAuth_url}}">link</a> to auth Spotify</p>
        {% else %}
        <div>
            <p>You are already authorized to Spotify!</p>
            <button id="show-spotify-token" class="btn btn-warning">Show Spot</button>
            <div id="spotify-token" class="code-display" style="display:none">
                <code>Bearer token: {{session['spotify_oauth'].get_Bearer()}}</code>
            </div>
        </div>
        <div class="playlists">
            <select id="playlists-select" class="w-25" name="playlist">
                {% for playlist in playlists %}
                    <option value="{{playlist.id}}">{{playlist.name}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>
{% endblock %}
